:root {
  --primary: #252525;
  --secondary: #bbb;
  --tertiary: #101010;
  --margin: 10px;
  height: 100%;
  width: 100%
}
body {
  background: var(--primary);
  display: flex;
  margin: var(--margin);
  overflow: hidden;
}
canvas {
  box-sizing: border-box;
  border: var(--secondary) 1px solid;
  /* height: calc(100vh - (var(--margin) * 2)); */
  width: 100%;
  display: block;
}
#snakeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45vw;
  height: calc(100vh - (var(--margin) * 2));
  position: fixed;
  z-index: 1
}
#info {
  color: var(--secondary)
}
#upgradeText {
  position: absolute;
  width: 90vw;
  height: 1em;
  top: -5em;
  left: 0vw;
  transform: translatey(-0.5em);
  color: var(--secondary);
  font-size: 5em;
  text-align: center;
  /* display: none; */
  font-family: 'Press Start 2P', cursive;
  -webkit-text-stroke: 2.5px var(--primary);
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.slide {
  animation: slideIn 2s;
}
.sidePanel {
  color: var(--secondary);
  width: 45vw;
  padding: 15px;
  padding-top: 20px;
  right: 0;
  position: absolute;
  height: calc(100vh - 15px);
  overflow-y: scroll;
}
h1, #upgrades {
  text-align: center;
}
#upgrades {
  padding-bottom: 10vh;

}
button {
  border: 1.5px solid var(--secondary);
  background: var(--primary);
  color: var(--secondary);
  padding: 10px;
  width: 30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button.canBuy {
  background: var(--secondary);
  color: var(--primary);
}
.reset, .sound {
  display: inline-block;
  width: 125px;
  height: 4.5em;
  margin-bottom: 1em;
}
.footer {
  /* top: 100vh; */
  /* position: absolute; */

}
.reset {
  background: #400;
}
@keyframes slideIn {
  /* 0% {top: -5em;} */
  25% {top: 50vh}
  75% {top: 50vh}
  100% {top: -5em; }
}
